.set{
    display: flex;
    padding: 8px;
    justify-content: space-evenly;
}

.container{
    background-color: lightslategray;
}
.überschriften{
    margin: 16px;
    display: flex;
    justify-content: space-around ;
    align-self: center;
}